html {
  overflow: hidden;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  color: #3F3F44;
}

#log {
  background: #664A86;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  right: 0.5em;
  bottom: 4em;
  overflow: auto;
  color: white;
}

#form {
  padding: 0 0.5em 0 0.5em;
  margin: 0;
  position: absolute;
  bottom: 1em;
  left: 0px;
  width: 100%;
  overflow: hidden;
}
